@import 'mixins'

@font-face 
	font-family: 'Gotham Pro'
	src: local('GothamPro'), url('../fonts/GothamPro.woff2') format('woff2'), url('../fonts/GothamPro.woff') format('woff')
	font-weight: normal
	font-style: normal
	font-display: swap


@font-face
	font-family: 'Gotham Pro'
	src: local('GothamPro-Light'), url('../fonts/GothamPro-Light.woff2') format('woff2'), url('../fonts/GothamPro-Light.woff') format('woff')
	font-weight: 300
	font-style: normal
	font-display: swap


@font-face
	font-family: 'Gotham Pro'
	src: local('GothamPro-Medium'), url('../fonts/GothamPro-Medium.woff2') format('woff2'), url('../fonts/GothamPro-Medium.woff') format('woff')
	font-weight: 500
	font-style: normal
	font-display: swap

\:root
	--background-color: #ffffff
	--text-color: #000000
	--text-color-revert: #ffffff
	--accent-color: #017C45
	--text-font: 'Gotham Pro'
	--block-radius: 20px
	--block-shadow: 2px 4px 20px rgba(1, 124, 69, 0.1)

	--button-text-color: #ffffff
	--button-background-color: #017C45
	--button-background-color-hover: #{darken(#017C45, 10%)}

	.secondary 
		--button-text-color: #ffffff
		--button-background-color: #365F7A
		--button-background-color-hover: #{darken(#365F7A, 10%)}

	--h1-font-size: 52px
	--h1-line-height: 1.23
	--h1-font-weight: 500
	
	--h2-font-size: 40px
	--h2-line-height: 1.25
	--h2-font-weight: 500

	--h3-font-size: 36px
	--h3-line-height: 0.67
	--h3-font-weight: 400

	--h4-font-size: 24px
	--h4-line-height: 1
	--h4-font-weight: 400

	--h5-font-size: 20px
	--h5-line-height: 1.2
	--h5-font-weight: 400

	--h6-font-size: 18px
	--h6-line-height: 1.33
	--h6-font-weight: 400

	--big-font-size: 20px

	--p-font-size: 18px
	--p-line-height: 1.5
	--p-font-weight: 400

@for $i from 1 through 6
	$elem: h#{$i}
	$size: var(--#{$elem}-font-size)
	$height: var(--#{$elem}-line-height)
	$weight: var(--#{$elem}-font-weight)
	h#{$i}
		font-size: #{$size}
		font-weight: #{$weight}
		line-height: #{$height}
		color: var(--text-color)
p
	font-size: var(--p-font-size)
	font-weight: var(--p-font-weight)
	line-height: var(--p-line-height)
	color: var(--text-color)

.hidden-md
		display: none

*
	box-sizing: border-box
	margin: 0
	padding: 0
	outline: none
	&::selection
		color: #ffffff
		background-color: var(--accent-color)

body, html
	font-size: var(--p-font-size)
	font-weight: var(--p-font-weight)
	color: var(--text-color)
	font-family: var(--text-font)
	position: relative
	scroll-behavior: smooth
	&.no-scroll
		height: 100vh
		overflow: hidden

section
	overflow: hidden

ul, ol
	list-style-position: inside

.container
	width: 100%
	max-width: 1230px
	margin: 0 auto
	padding: 0 15px

.button
	display: inline-flex
	align-items: center                   
	align-content: center                   
	justify-content: center                   
	padding: 30px 22px
	font-weight: 500
	font-size: 20px
	line-height: 1.5
	color: var(--button-text-color)
	background-color: var(--button-background-color)
	border-radius: var(--block-radius)
	box-shadow: none
	border: none
	appearance: none
	cursor: pointer
	transition: background-color .3s ease-in-out
	font-family: var(--text-font)
	width: 367px
	max-width: 100%
	min-height: 90px
	text-align: center
	text-decoration: none
	&.small
		padding: 19px 33px 21px
		line-height: .91
		width: max-content
		min-height: 60px
	&:hover
		background-color: var(--button-background-color-hover)

// @include md 
// 	\:root
// 		--h1-font-size: 48px
// 		--h2-font-size: 30px
// 		--h3-font-size: 30px
// 		--h4-font-size: 18px
// 		--h5-font-size: 20px
// 		--h6-font-size: 18px
// 		--p-font-size: 16px
// 		--small-font-size: 14px
// 		--smaller-font-size: 12px
// 		--smallest-font-size: 12px	
// @include sm
// 	\:root
// 		--h1-font-size: 32px
// 		--h2-font-size: 24px
// 		--h3-font-size: 24px
// 		--h4-font-size: 24px
// 		--h5-font-size: 16px
// 		--h6-font-size: 14px
// 		--p-font-size: 14px
// 		--small-font-size: 12px
// 		--smaller-font-size: 10px
// 		--smallest-font-size: 10px	